PORT=3000
NODE_ENV=production
MIDTRANS_IS_PRODUCTION=true
MIDTRANS_CLIENT_KEY=Mid-client-FodF2EHkOGnjpDEm
MIDTRANS_SERVER_KEY=Mid-server-YOUR_MIDTRANS_SERVER_KEY_HERE
MIDTRANS_MERCHANT_ID=G740209003
GOOGLE_CLIENT_ID=525243582803-rqik2o4jgnllhnp35rp9ochu605b2t8n.apps.googleusercontent.com
